<div class="stamping">
  <div class="row">

    <%# 出勤ボタン %>
    <%= link_to(employee_list_path, {class:"col-6 btn btn-outline-secondary panel"}) do %>
    <%= icon("fas", "user") %>
    <br>
    社員一覧
    <% end  %>
  </div>
</div>
