<div class="stamping">
  <div class="row">

    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

  </div>
</div>
