<h1>社員情報一覧</h1>

<%# ページネーションバー %>
<%= paginate(@employees) %>

<table class="table table-striped table-hover">

  <thead>
    <th scope="col">社員番号</th>
    <th scope="col">氏名</th>
    <th scope="col">メールアドレス</th>
  </thead>
  <tbody>

    <%# 社員情報一覧出力 %>
    <%= render(@employees) %>

  </tbody>
</table>

<%# ページネーションバー %>
<%= paginate(@employees) %>
