// ========================
// ===== 共通の設定
// メインメニュー全体のデザイン
.stamping {
  padding: 30px;
}

// メインメニュー上のボタンのパネルデザイン
.panel {
  margin-bottom: 10px;

  // 横幅をカスタマイズ(aタグの幅を調整できるようにするため、inline-blockを追加)
  display: inline-block;
  width: 100%;

  // アイコンのデザイン
  i {
    font-size: 30px;
  }
}

// ========================
// ===== システム管理者の設定
// 新規登録ボタン
.employee_register_button {
  margin-bottom: 20px;

  // 横幅をカスタマイズ(aタグの幅を調整できるようにするため、inline-blockを追加)
  display: inline-block;
  width: 80%;

  float: left;
  // アイコンのデザイン
  i {
    font-size: 50px;
  }
}
