<div class="alert alert-warning">ページを閲覧する権限がありません。</div>
<%= link_to(root_path, {class:"btn btn-outline-secondary"}) do %>
<%= icon("fas", "chevron-circle-left") %>
<br>
<%=I18n.t("label.link.back_to_top") %>
<% end  %>
