<%#
404エラー発生時の画面
%>
<%# HTMLのtitle定義部 %>
<% provide(:title, I18n.t("label.title.error_404")) %>

<div class="alert alert-warning"><%= I18n.t("label.title.error_404") %></div>
<%= link_to(root_path, {class:"btn btn-outline-secondary"}) do %>
<%= icon("fas", "chevron-circle-left") %>
<br>
<%=I18n.t("label.link.back_to_top") %>
<% end  %>
