//
// 全画面共通のCSSデザインを定義する。
//

/* ================= */
/* 共通のデザイン */
body {
  // メインコンテンツが画面上部のヘッダに埋もれないようにするための位置調整
  padding-top: 60px;
}


/* ================= */
/* ヘッダメニューのデザイン */
// ロゴ
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
