//
// 全画面共通のCSSデザインを定義する。
//

/* ================= */
/* 共通のデザイン */
body {
  // メインコンテンツが、fixed-topで固定したヘッダに被らないないようにするための設定
  // ヘッダ領域のサイズとほぼ同等の余白を設定すること
  padding-top: 4rem;
}


/* ================= */
/* ヘッダ部分のデザイン */
// ロゴ
#logo {
  font-size: 1.2em;
  color: #fff;
  padding-top: 9px;
}
