//
// メール本文のCSSデザインを定義する。
//

// ========================
// ===== 共通の設定
// ----- HTMLタグの設定
body {
  font-size: 2.0em;
}

// ========================
// ===== ヘッダ部分のデザイン
// システム名を表示するロゴ領域
a {
  text-decoration: none;
}

.logo_image {
  width:10%;
  max-width: 10%;
  height: auto;
}
