<div class="title_header">
  <table>
    <tr>
      <td>
        <%# ロゴ画像 %>
        <%= image_tag attachments['logo_mailer.png'].url, {class:"logo_image"} %>
      </td>
      <td>
        パスワードのリセットをお願い致します
      </td>
    </tr>
  </table>
</div>

<hr style="font-size:1px;line-height:0">
<div>
  <p><%= @resource.employee_name %>　様</p>
  <p>パスワードリセットを受け付けました。下記URLよりパスワードリセットを行ってください。</p>
  <p>
    <%= link_to('パスワードリセットを行う', edit_password_url(@resource, reset_password_token: @token), {class: "btn-password-reset"})%>
  </p>
</div>
<div class="notice">
  <table>
    <thead>
      <tr>
        <td>注意事項</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li>
              本メールは送信専用です。本メールに返信いただいても回答致しかねます。
            </li>
            <li>
              心当たりのない方は、恐縮ですが、本メールを破棄いただくようお願い致します。
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
