<p><%= @resource.employee_name %>様</p>
パスワードリセットを受け付けました。下記URLよりパスワードリセットを行ってください。<br>
<%= link_to 'パスワードリセットを行う', edit_password_url(@resource, reset_password_token: @token) %>
<p>なお、もしパスワードリセットをリクエストされていない場合には、このメールを無視し、既存のパスワードでログインしてください。</p>
