<footer>
  <div class="container">
    <%# 文字を中央に寄せる %>
    <div class="row text-center d-flex justify-content-center">
      <div class="col-12">
        <small>
          Created by <a href="https://twitter.com/chi9_0">@chiku-wa</a>
        </small>
      </div>
    </div>
</footer>
