  <%# 画面上部に固定する%>
  <header class="fixed-top">
    <nav class="nav bg-dark pt-3 pb-3">
      <div class="col-6">
        <%# システム名などを表示するロゴ部分 %>
        <%= link_to("ポチっと勤怠", main_index_path, id: "logo")%>
      </div>

      <%# ログイン・ログアウト画面のリンクなどを表示するコンテンツ部 %>
      <div class="col-6">
        <%= link_to("#", :method => :get) do  %>
        <%= icon('fas', 'sign-in-alt') %></i> ログイン
        <% end %>
      </div>
    </nav>
  </header>
