<div class="panel panel-default">
  <div class="panel-heading">
    メニュー
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>勤務入力</a></li>
    <li><a href="#"><%= icon('fas', 'sign-out-alt') %></i> ログアウト</a></li>
  </ul>
</div>
