<div class="panel panel-default">
  <div class="panel-heading">
    メニュー
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <%= link_to("#", :method => :delete) do  %>
      <i class="glyphicon glyphicon-pencil"></i>勤務入力
      <% end %>
    </li>
  </ul>
</div>
